<div class="add-contact">
    <div class="edit-contact-card">
        <p>First Name:</p>
        <input type="text" [(ngModel)] = "fname" />
        <p>Last Name:</p>
        <input type="text" [(ngModel)] = "lname" />
        <p>Phone Number:</p>
        <input type="text" [(ngModel)] = "phoneNum" />
        <div class="buttons">
            <button class="btn btn-warning" routerLink="" (click)="UpdateContact()">Submit Changes</button>
            <button class="btn btn-danger" routerLink="">Cancel</button>
        </div>
    </div>
</div>